
{% extends 'base.html' %}
{%load static%}
{% block content %}
{% static "images" as DIR %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <!-- <form class="d-flex" action="{% url 'login' %}">
          <input class="form-control me-2" type="submit" placeholder="logout" value="logout">
        
        </form> -->

      <button><a href="{% url 'logout' %}" class="btn">log out</a></button>
    </div>
  </div>
</nav>





<h1 class="home">home</h1>

<table class="table" border="1px">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  {% for x in list1 %}
  <tbody>
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{x.first}}</td>
      <td>{{x.last}}</td>
      <td>{{x.handle}}</td>
    </tr>

  </tbody>
  {% endfor %}
</table>


<div class="container ">
  <div class="row " style="justify-content: space-between;">
    {% for y in card1 %}
    <div class="card" style="width: 18rem;">
      <img src="{{DIR}}/{{y.img}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{y.title}}</h5>
        <p class="card-text">{{y.disc}}.</p>

      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}